{% extends "layout.html" %}
{%block content %}
    <div class="container">
        <img id="logo" src="{{url_for("static", path="logo.png")}}"/>
        <h1 class="h1 mb-6 ">FaceID</h1>
        <p class="notes"> 
            Deep Learning powered Facial ID Verification tool built using FastAPI, Jinja2, Tensorflow2, etc.
        </p>
        <div align="center">
        <form class="form-signin" action="/verify" method=post enctype=multipart/form-data>
            <div class="image-section">
                <div class="image-container">
                    <h2 class="h4 mb-6 font-weight-normal">📤 Upload Selfie</h2>
                    <input type="file" name="img1" class="form-control-file" id="inputfile"  onchange="preview_image1(event)">
                    <img id="preview-image-sign1" class="rounded mx-auto d-block"/>
                </div>
                <div class="image-container">
                    <h2 class="h4 mb-6 font-weight-normal">📤 Upload ID Card</h2>
                    <input type="file" name="img2" class="form-control-file" id="inputfile"  onchange="preview_image2(event)">
                    <img id="preview-image-sign2" class="rounded mx-auto d-block"/>
                </div>
            </div>
            <button align="center" class="btn btn-lg btn-primary btn-block" id="submit-btn" type="submit" disabled>Upload Images</button>
        </form>
        </div>
        {% if value %}
        <div class="predict-result">
            <h4 class="h4">Predicted:</h4>
            <h1 class="h1">{{ value }}</h1>
        </div>
        {% endif %}
        
        <script type="text/javascript">
            function preview_image1(event) {
                var reader = new FileReader();
                reader.onload = function(){
                    var output = document.getElementById('preview-image-sign1')
                    output.src = reader.result;
                }
                reader.readAsDataURL(event.target.files[0]);
            }
            function preview_image2(event) {
                var reader = new FileReader();
                reader.onload = function(){
                    var output = document.getElementById('preview-image-sign2');
                    output.src = reader.result;
                    var button = document.getElementById('submit-btn');
                    button.textContent = "Verify";
                    button.disabled = false;
                }
                reader.readAsDataURL(event.target.files[0]);
            }
        </script>
        
    </div>
{%endblock%}