{% extends "layout.html" %}
{% block content %}

<div class="container">
    <h1 class="h1 mb-6 ">Signature Verification</h1>
    <p class="notes"> 
        Deep Learning Based Signature Verification System ables to recongize forgery in Signature.
    </p>
    {% if result %}
    <div class="predict-result">
        <h4 class="h4" style="color:gray">Verification Result</h4>
        <h1 class="h1">Successfully Verified your ID. <br> Thank you.</h1>
    </div>
    {% else %}
    <div class="predict-result">
        <h4 class="h4">Verification Result</h4>
        <h1 class="h1">Cannot Verify your face. <br> Please try <a href="/">again</a>.</h1>
    </div>
    {% endif %}

</div>

<script type="text/javascript">
    function preview_image1(event) {
        var reader = new FileReader();
        reader.onload = function(){
            var output = document.getElementById('preview-image-sign1')
            output.src = reader.result;
        }
        reader.readAsDataURL(event.target.files[0]);
    }
    function preview_image2(event) {
        var reader = new FileReader();
        reader.onload = function(){
            var output = document.getElementById('preview-image-sign2')
            output.src = reader.result;
            var button = document.getElementById('submit-btn')
            button.textContent = "Predict"
        }
        reader.readAsDataURL(event.target.files[0]);
    }
</script>

{% endblock %}