.container{
    display: flex;
    padding-top: 30px;
    flex-direction: column;
    align-items: center;
    align-content: center;
    max-width: 410px;
    min-height: 90vh;
    text-align: center;
}

.image-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}


.image-container{
    background-color: bisque;
    align-self: center;
    width: 350px;
    padding: 20px;
    border-radius: 20px;
    margin-left: 20px;
}

.left{
    float: left;
}

.right{
    float: right;
}

#logo{
    max-width: 150px;
}

#preview-image{
    max-width: 100%;
    height: auto;
    margin:10px 10px 10px 10px;
}

#preview-image-sign1{
    max-width: 100%;
    height: auto;
    margin:10px 10px 10px 10px;
}

#preview-image-sign2{
    max-width: 100%;
    height: auto;
    margin:10px 10px 10px 10px;
}

.credits-container{
    align-self: center;
}

.notes{
    display: inline;
    text-align: center;
    font-weight: 200;
    max-width: 420px;
}

.predict-result{
    margin-top: 20vh;
}

.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card{
    margin-left: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    height: 250px;
}

.card:hover{
    box-shadow: 28px 21px 53px -34px rgba(0,0,0,0.58);
    transform: translate(-4px, -3px);
}

.card-image{
    width: 100%;
}

#sign-gif{
    margin-top: 40px;
}

.card-link{
    text-decoration: none;
}

#submit-btn{
    width: 200px;
    margin-top: 10px;
}